
<form novalidate>
  <fieldset>
    <legend>country list</legend>
      @for (country of list(); track country.id) {
        <mat-form-field  appearance="outline">
          <mat-label>country name</mat-label>
          <input matInput [field]="listForm[$index].name" >
          <button
            type="button"
            matIconButton
            matSuffix
            [disabled]="listForm[$index].name().invalid()"
            (click)="upsertCountry(country.id!, country.name)"
          >
            <mat-icon fontIcon>edit</mat-icon>
          </button>
          <button
            type="button"
            matIconButton
            matSuffix
            (click)="deleteCountry(country.id!)"
          >
            <mat-icon fontIcon>delete</mat-icon>
          </button>
          <mat-error>{{listForm[$index].name().errors()[0]?.message ?? ""}}</mat-error>
        </mat-form-field>
      }
  </fieldset>
</form>


