<form [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
  <app-form-field
    fieldName="name"
    label="country"
  />

  <div class="cities" formArrayName="cities">
    @for(field of formGroup().controls.cities.controls; let cityIndex = $index; track cityIndex) {
      <ng-container [formGroupName]="cityIndex">
         <app-form-field
           fieldName="name"
           label="city"
           (deleteEvent)="onDelete('cities', cityIndex)"
         />
            <div class="streets" formArrayName="streets">
              @for(_ of field.controls.streets.controls; let streetIndex = $index; track streetIndex) {
                <ng-container [formGroupName]="streetIndex">
                  <app-form-field
                    fieldName="name"
                    label="street"
                    (deleteEvent)="onDelete('cities', cityIndex, 'streets', streetIndex)"
                  />
                </ng-container>
              }
            </div>
        </ng-container>
    }
  </div>
</form>






